body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-image: radial-gradient(circle, dodgerblue, #1e90ff, #00bfff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  /* Animación del gradiente */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Media queries */
@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
  }
  
  .product {
    width: 180px;
  }
}
